.ticketItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid salmon;
  padding: 0.5rem;
  margin: 0.5rem;
}
.ticketItem div {
  background-color: rgba(250, 128, 114, 0.214);
}
