.li {
  /* text-decoration: none;
  list-style: none;
  line-height: 1.2rem;
  border-radius: 6px;
  color: white; */
  /* background-color: aqua; */
  padding: 0%;
}
.li a {
  text-decoration: none;
  list-style: none;
  line-height: 1rem;
  border-radius: 6px;
  color: gray;
  width: 100%;
}
